.contenedor-botones{
    @include flex(space-between,center);
}

.container{
    max-width: 120rem;
    width: $anchoContainer;
    margin: 0 auto;
}

.centrado-flex{
    @include flex(center,center);
    height: 100%;
}

.margin-top{
    
}