//Tipografia
$fuentePrincipal: 'Poppins', sans-serif;

//Colores

$colorPrincipal: #FAFAFA;
$colorSecundario: #8C1C03;
$colorTerciario:  #D97925;
$colorCuaternario:  #000;
$colorError: #B00020;
$colorMensaje:#008f39;
$colorEdicion: #174FBF;
$blanco: #fff;
$negro:#000;
$grisClaro: #E0E0E0;
$gris: #606060;
$grisOscuro: #323232;

//Tamaños de Pantalla

$mobile: 320px;
$mobileLadeado: 500px;
$tablet: 768px;
$pc: 1024px;
$pcXL: 1440px;

// Contenedor y Secciones

$separacion: 2em;
$anchoContainer: 90%;