.no-webp .contacto{
    background: url("../img/destacada.jpg");
}

.webp .contacto{
    background: url("../img/destacada.webp");
}

.contacto{
    padding: 7em 0;
    margin-bottom: 3em;
}