.no-webp .contactsect{
    background: url("../img/encuentra.jpg");
}

.webp .contactsect{
    background: url("../img/encuentra.webp");
}

.contactsect{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include flex(center, center, column);
    padding: 10em 5em;
    color: $blanco;
    word-wrap: break-word;
    text-align: center;
}